@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --primary-color: hsl(212, 27%, 19%);
  --secondary-color: hsl(213, 9%, 39%);
  --third-color: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  color: var(--third-color);
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  overflow-x: hidden;
  width: 100%;
}
h2 {
  font-family: "Fraunces", serif;
  color: var(--primary-color);
  font-weight: 900;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/* ^ header start */
header {
  background: url("../images/desktop/image-header.jpg") center center/cover
    no-repeat;
  height: 110vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  flex-wrap: wrap;
}

#hamburger {
  display: none;
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  align-items: center;
}

nav ul li a {
  color: #fffcff;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  padding: 14px 28px 12px;
  font-size: 18px;
}

nav ul li:last-child a {
  background: #fffcff;
  border-radius: 90px;
  color: black;
  font-family: "Fraunces", serif;
}

nav ul li:last-child:hover a {
  background-color: hsla(0, 0%, 100%, 0.4);
  color: #fffcff;
}

header h1 {
  color: #fffcff;
  text-align: center;
  font-size: 45px;
  font-family: "Fraunces", serif;
  letter-spacing: 0.3cm;
  font-weight: 800;
  margin-top: 3rem;
}

.scroll-down img {
  display: block;
  margin: 5rem auto 0;
  width: 5rem;
  height: 6rem;
  cursor: pointer;
}
/* ^ header end */
/* ^ about start */
.section {
  display: flex;
  background-color: #fffbf8;
  width: 100%;
}

.section .egg-img {
  background: url("../images/desktop/image-transform.jpg") center center/cover;
  width: 50%;
  height: 500px;
}

.content-text {
  padding: 6rem 4.5rem 5rem;
  width: 50%;
}
.content-text h2 {
  font-size: 38px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.content-text p {
  margin-top: 30px;
  margin-bottom: 35px;
}

.content-text a {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--primary-color);
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
}

.section .glass-img {
  background: url("../images/desktop/image-stand-out.jpg") center center/cover;
  width: 50%;
  height: 500px;
}
/* ^ about end */
/* ^ Services start */
.services-bgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.services-bgs .orange-bg {
  background: url("../images/desktop/image-photography.jpg") center center/cover
    no-repeat;
  position: relative;
  width: 100%;
  height: 500px;
}
.services-bgs .bg-content {
  position: absolute;
  bottom: 4rem;
  padding: 0 10rem;
}

.bg-content h2,
.bg-content p {
  color: hsl(198, 62%, 26%);
}
.bg-content p {
  font-size: 16px;
  margin-top: 15px;
}

.services-bgs .apple-bg {
  background: url("../images/desktop/image-graphic-design.jpg") center
    center/cover no-repeat;
  position: relative;
  color: hsl(167, 40%, 24%);
  width: 100%;
  height: 500px;
}

.services-bgs .apple-bg h2 {
  color: hsl(167, 40%, 24%);
}

.testimonials {
  text-align: center;
  padding: 6rem 3rem;
}

.testimonials h3 {
  font-family: "Fraunces", serif;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 900;
  color: var(--third-color);
}

.testimonials .project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.testimonials .project-content img {
  width: 120px;
  border-radius: 50%;
  margin: 5rem 0 3rem;
}
.testimonials .project-content p {
  padding: 0px 2rem;
  color: var(--secondary-color);
  margin-bottom: 4rem;
}
.testimonials .project-content h5 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--primary-color);
  font-size: 18px;
  margin-bottom: 5px;
}

/* ^ Services end */
/* ^ Projects start */
#projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#projects img {
  width: 100%;
}
/* ^ Projects end */
/* ^ footer start */
footer {
  background-color: #90d4c5;
  padding: 5rem 0;
}
footer img {
  display: block;
  margin: auto;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer ul li {
  margin: 3rem 1rem;
}
footer ul li a {
  color: hsl(168, 34%, 41%);
}
footer ul li a:hover {
  color: #fffcff;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .social a {
  margin: 0 20px;
}
footer .social a:hover {
  color: white;
}
/* ^ footer end */

/* & media query */
/* ^ Tablet mode */
@media screen and (max-width: 1000px) {
  .content-text {
    padding: 4rem 2rem 3rem;
  }
  .content-text h2 {
    font-size: 30px;
  }
  .content-text p {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 16px;
  }
  .content-text a {
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 14px;
  }
  .services-bgs .bg-content {
    position: absolute;
    bottom: 4rem;
    padding: 0 2rem;
  }
  .testimonials {
    text-align: center;
    padding: 6rem 0rem;
  }
}
@media screen and (max-width: 768px) {
  #hamburger {
    display: block;
  }
  nav {
    padding: 1.8rem;
  }
  .nav-ul {
    display: none;
    background-color: #fffcff;
    width: 95%;
    text-align: center;
    margin-top: 30px;
    position: relative;
    animation: pop 1s ease-out;
  }
  @keyframes pop {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nav-ul:after {
    content: "";
    border-top: 10px solid #fffcff;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-width: 20px;
    position: absolute;
    bottom: 91.5%;
    right: 0;
    transform: rotate(90deg);
  }

  .nav-ul.show {
    display: block;
  }
  .nav-ul.show li {
    margin: 35px 0;
  }
  .nav-ul.show li a {
    color: var(--third-color);
  }
  .nav-ul.show li:last-child a {
    background-color: hsl(51, 100%, 49%);
    color: var(--primary-color);
  }
  header h1 {
    font-size: 32px;
  }

  .scroll-down img {
    margin: 4rem auto 0;
  }
  .section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .section .egg-img {
    width: 100%;
    background: url("../images/mobile/image-transform.jpg") center center/cover;
  }
  .section.two {
    flex-direction: column;
  }
  .section .glass-img {
    width: 100%;
    background: url("../images/mobile/image-stand-out.jpg") center center/cover;
    flex-direction: column-reverse;
  }
  .content-text {
    width: 100%;
    padding: 6rem 3rem;
  }
  .content-text h2 {
    font-size: 35px;
  }
  .section.one .content-text a {
    border-bottom: 10px solid hsl(51, 100%, 49%, 0.6) !important;
    border-radius: 10px;
  }
  .section.two .content-text a {
    border-bottom: 10px solid hsl(7, 99%, 70%, 0.6) !important;
    border-radius: 10px;
  }
  .services-bgs {
    grid-template-columns: 1fr;
  }
  .services-bgs .apple-bg {
    background: url("../images/mobile/image-graphic-design.jpg") center
      center/cover;
    height: 700px;
  }
  .services-bgs .orange-bg {
    background: url("../images/mobile/image-photography.jpg") center
      center/cover;
    height: 700px;
  }
  .services-bgs .bg-content {
    position: absolute;
    bottom: 7rem;
    padding: 0 4rem;
  }
  .testimonials .project-content {
    grid-template-columns: 1fr;
  }
  .testimonials .project-content img {
    width: 150px;
    margin-bottom: 2rem;
  }
  .testimonials .project-content p {
    margin-bottom: 1.5rem;
  }
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    padding: 6rem 0;
  }

  .footer-logo {
    width: 180px;
  }
  footer ul li {
    margin: 3rem 2rem;
  }
}
